{
  "env": {
    "build": {
      "presets": [
        ["env", {
          "targets": {
            "node": "0.10.0"
          },
          "modules": false
        }]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
